@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592313108855'); /* IE9 */
  src: url('iconfont.eot?t=1592313108855#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkgAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQZAE2AiQDCAsGAAQgBYRtBzEbiwXILrBt2NMWpQXJ5SAA3+Zg4LCIIForq2dn7/eBQRIENaAiBezjEqESY8LC38f4eGCF6gZv7ph+kU38PLugfYNICrDAAmtzaupcgAmgTla0Jhr/3JfIzvZSelcAH9CHDTgI1KIAadDLIduAy+lPoAcZdUC57UljTR4TMLA0wL0wihMpoYwbxi5wCfcJtJhAwNOnxxvaMmtZIB7ESkA7F5ZllquEWs3eDPFcqUp/6QKehd+Pb5bRBklZgNVw7tYxhM3HdgFPGrnqEyIEdLhEgTVAJi7Vps+oCcZhLem6GWBftcHHb/gusVe7YH+dVd0GxmAm+NhV3Wp1Ajke7wOMjHoLqbXjZfXpi/nu491o8TveX7t5+/+tsfrg38nsaOhX62jr0WiwMVjvrQ8M/LBBPyvepxcCwX+tboz2f7db6wAffOwLbVk/L9VePMHfUPbsy7racqasKmu9Sd+opQktWtCA/T3esZb+U+dDpf8GvE3GUxQqc2Rm11BqtY6ayjG0WKUPt+rV1ETuACsmgNDlRNLhCIUuN5nZB6UBH2q6ooYWV6L3zFYLEXdPORJMIZov5kAX0nFzN6p9kioz4bLqkP8l5+MYSiaKuTMV5ObY0D9qOVhicDpHBR6jLNNYnE4o4GliNmvOQ92Lplbn0HWKQwRGQsj4QllAK0h/NOuWPv9ElFJGcC1NNdlfxPHiyZHEiB7k2VD0arqXZ7oPZWlgEgocLYcUmEUyGQ2V+lkJEmBTaUTSWOP2sNDXMF3flH9AOWvDsqawp9ag6bEuk1gUAAA=') format('woff2'),
  url('iconfont.woff?t=1592313108855') format('woff'),
  url('iconfont.ttf?t=1592313108855') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592313108855#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before {
  content: "\e6d9";
}

